.container {
    margin-top: 4%;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .title {
    font-size: 24px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
  }
  
  .questionContainer {
    margin: 20px 0;
  }
  
  .box {
    border-radius: 20px;
    padding: 20px;
    background-image: linear-gradient(to right, #161b29, #070627, #171727);
  }

  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .question span {
    flex-grow: 1;
  }
  
  .question:hover {
    background-color: #333;
  }
  
  .question.active {
    background-color: #333;
  }
  
  .answerContainer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    padding-bottom: 2%;
  }
  
  .answer {
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
  }
  
  .arrowIcon {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .rotated {
    transform: rotate(180deg);
  }
  
  .expanded {
    max-height: 100px; /* Adjust the height as needed */
  }

  .line {
    top: calc(50% + 2px);
    left: 0;
    right: 0;
    border: none;
    height: 2px;
    background-color: #333;
    transition: height 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .container {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  


  