.imageSection {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
}

.imageSection .imageWrapper {
  position: relative;
}

.imageSection .imageWrapper:first-child {
  margin-right: 20px; /* Adjust the margin value as needed */
}

.imageSection .imageWrapper:last-child {
  top: 10%; /* Adjust the desired vertical distance */
}

@media (max-width: 768px) {
    .imageSection {
      flex-direction: row;
      margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

  }
