.imageSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
  }
  
  .imageSection .imageWrapper {
    position: relative;
    width: 100%;
  }
  

  
  @media (max-width: 768px) {
      .imageSection {
        flex-direction: row;
        margin-top: 20px;
          margin-left: 40%;
      }
  
    }
  