.wrapper {
  overflow: hidden;
}

.container {
    display: flex;
    justify-content: flex-start; /* Align boxes to the left */
    margin-top: 5%;
    margin-left: calc(50% - 155px); /* Adjust the value to half the width of the first box */
    transition: transform 0.5s ease;
  }

  .container2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Roadmap {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .header {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .info {
    font-size: 16px;
    color: white;
    opacity: 60%;
    padding-bottom: 25px;
  }
  

/* Rest of the styles remain the same */

.transition {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Optional: Custom timing function */
}

.box {
  width: 300px;
  height: 500px;
  margin: 10px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: linear-gradient(to right, #161b29, #070627, #171727);
  color: white;
}

.textBox {
  height: 450px; /* Set the desired height for the text container */
  width: 250px; /* Set the desired width for the text container */
  /* Add any additional styling for the text container */
}

.textBox h3 {
    padding-left: 3%;
    height: 5%;
    background: linear-gradient(
            to right, #f32170, #ff6b08,
             #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: capitalize;
}

.textBox h1 {
    height: 25%;
    padding-left: 3%;
    padding-top: 5%;
    font-size: x-large;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}


.bulletList {
    margin-top: 10px;
    padding-left: 5px;
    list-style-type: disc;
    color: white;
    font-size: small;
    list-style-type: none; /* Remove default bullet point */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
  }
  

  .bulletList li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  
  .bulletList li:before {
    content: "✔"; /* Checkmark symbol */
    position: absolute;
    left: 0;
    top: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #000000; /* Circle color */
    border: 1px solid #810ce0; /* Border color */
    color: #7c1bcc; /* Checkmark color */
    font-size: 17px;
    line-height: 20px;
    text-align: center;
  }

  .divider {
    border: none;
    border-top: 1px solid #fff; /* Divider line color */
    margin: 40px 5px;
    padding-bottom: 3%;
  }

  .arrowleft,
  .arrowright {
    position: absolute;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.8); /* Black with 80% opacity */
    border: none;
    border-radius: 50%; /* Circle shape */
    font-size: 24px; /* Adjust arrow size */
    width: 60px; /* Adjust arrow size */
    height: 60px; /* Adjust arrow size */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: -10%;
  }
  
  .arrowleft:before,
  .arrowright:before {
    content: ""; /* Empty content */
  }
  
  .arrowleft {
    left: 20px;
    margin-left: 35%;
  }
  
  .arrowright {
    right: 20px;
    margin-right: 35%;
  }

  @media (max-width: 768px) {
    .arrowleft,
    .arrowright {
      width: 30px; /* Adjust arrow size */
      height: 30px; /* Adjust arrow size */
      font-size: 20px; /* Adjust arrow size */
    }
  }

  
  
  
  
  
  
  
