/* Form.module.css */
.formContainer {
    background-color: gray;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formInput {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formButton {
    background-color: white;
    color: gray;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .formButton:hover {
    background-color: #eee;
  }
  