.imageSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 25%;
  }
  
  .imageSection .imageWrapper {
    position: relative;
    width: 100%;
  }
  
  
  @media (max-width: 768px) {
      .imageSection {
        flex-direction: row;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
      }
  
    }
  