.navbar {
  position: sticky;
  top: 0;
  padding: 40px;
  z-index: 100;
  display: flex;
  justify-content: flex-end; /* Center align items horizontally */
  align-items: center; /* Center align items vertically */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: white;
}

.searchBar {
  width: 100%;
  padding: 10px 15px 15px 40px; /* Added padding on the left for the icon */
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
  outline: none;
  font-size: 16px;
  background-color: rgb(73, 71, 71);
  height: 60%;
  color: white;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path style="fill:%23FFFFFF;" d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747603 16 12.345794 15.348024 13.535156 14.210938 L 14 14.65625 L 14 15 L 14 16 L 20.292969 22.292969 L 21.707031 20.707031 L 15.414062 14.414062 L 15.414062 14 L 15.414062 13.464844 L 15.535156 13.363281 C 16.662037 12.210395 17 10.909663 17 9 C 17 5.1458514 13.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z"/></svg>');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 10px center;
}

.searchBar:hover {
  border: white 1px solid;
}

.searchBar::placeholder {
  font-size: 12px;
  
}


.profile {
  background-color: rgb(85, 85, 165);
  color: white;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.profile:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 rgb(85, 85, 165);
};

.profile:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};



.navbarScrolled {
  background-color: rgba(0, 0, 0, 0.4); /* Black with 80% opacity */
}

.navbarMenu {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbarItem {
  display: flex;
  align-items: center; /* Center align items vertically */
  padding-inline: 20px;
}

.navbarItem:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

.navbarItem a {
  text-decoration: none;
  color: #ffffff; /* Set the color of the navbar links */
  transition: color 0.3s ease-in-out; /* Add transition effect */
  cursor: pointer;
}

.navbarItem a:hover {
  color: gray; /* Set the hover color */
}

.logo {
  margin-top: 2px;
  margin-left: 20px; /* Adjust the spacing between logos and other items */
  width: 30px; /* Set the width of the logos */
  height: 30px; /* Set the height of the logos */
  transition: transform 0.3s ease-in-out; /* Add transition effect */
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.2); /* Apply scale transform on hover */
}

.username{
  background-color: rgb(85, 85, 165);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 10px;
}
